$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$linksportsgreen: #137037;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

i.glyphicon {
  width: 20px;
  height: 20px;
  color: $linksportsgreen;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  line-height: 1.5;
  vertical-align: middle;
  margin: 10px 0;
  &.noback {
    background-color: rgba(0,0,0,0) !important;
  }
}

/* Custom page header */
.header {
  margin-bottom: 0px;

  .logo-container {
    background-image: url(../images/logo-bg-1.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 125px;

    #logo {
      display: block;
      width: 344px;
      height: 60px;
      background-repeat: no-repeat;
      margin-top: 30px;
    }
  }

  .navbar-default .navbar-collapse , .container > .navbar-header{
    margin: 0px;
  }

  .navbar {
    background-color: white;
    border: 0px;
    margin-bottom: 0px;


    .container {
      padding: 10px 0;
      background-image:-webkit-linear-gradient(90deg,rgb(19,49,25) 0%,rgb(47,106,55) 100%);
      background-image:linear-gradient(90deg,rgb(19,49,25) 0%,rgb(47,106,55) 100%);

      ul.nav {
        li {
          a {
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: #80681E;
            text-transform: uppercase;
            box-sizing: border-box;
            color: white;
            font-weight: bold;
            font-size: 12px;
            position: relative;
            border-bottom: solid 1px #B2B161;
            &:before {
              content: '';
              position: absolute;
              width: 1px;
              height: 70%;
              top: 15%;
              left: 0px;
              background-color: rgba(255,255,255, .5);
            }
            &:after {
              content: '';
              position: absolute;
              width: 1px;
              height: 70%;
              top: 15%;
              right: 0px;
              background-color: rgba(255,255,255, .5);
            }
          }

          &:first-child {
            a {
              &:before {
                width: 0px;
              }
            }  
          }

          &:last-child {
            a {
              &:after {
                width: 0px;
              }
            }  
          }

          &.active {
            a {
              background-color: #433006;
            }
          }
        }
      }
    }
  }
}

/* Custom page footer */
.footer {
  text-align: center;
  color: #777;
  .contacts-container {
    padding: 20px;
    background-color: #072813;
    color: white;
    font-size: 12px;
  }
  .footer-container {
    padding: 10px 0;
    background-image:-webkit-linear-gradient(270deg,rgb(19,49,25) 0%,rgb(47,106,55) 100%);
    background-image:linear-gradient(270deg,rgb(19,49,25) 0%,rgb(47,106,55) 100%);
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 960px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;

    .nav {
      width: 100%;
      display: flex;
      li {
        flex: 1;
        text-align: center;
      }
    }
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


@media screen and (max-width: 768px) {


  .header {

    .navbar-toggle {
      margin-right: 20px;
    }

    .logo-container {
      background-position: -20px center;
      background-size: 220%;
      #logo {
        width: 100%;
      }
    }

    ul.nav {
      li {
        a {
          padding-left: 25px;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}

.main-container {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: $linksportsgreen;
  color: white;
}

.panel {
  padding: 0;
  background-color: transparent;

  &.full-panel {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }

  &.transparent {
    .panel-content {
      background-color: transparent;
      border-right: 0px;
      border-bottom: 0px;
      border-left: 0px;
      color: white;
    }
  }

  .panel-content {
    background-color: white;
    padding: 20px;
    width: 97%;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    border-right: 1px solid #FFBC47;
    border-bottom: 1px solid #FFBC47;
    border-left: 1px solid #FFBC47;
    color: black;
  }

  .panel-header {
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px;
    padding: 15px;
    margin-bottom: 0px;
    color: white;

    background-image: url(../images/paneltitlebg.png);
    background-repeat: repeat-y;
    background-position: 0px 0;

    &.big {
      font-size: 1.4em;
      span {
        font-size: .8em;
      }
    }
    &.red {
      background-color: #F64300;
    }
    &.yellow {
      background-color: #F59C00;
    }
    &.blue {
      background-color: #008DF7;
    }
    &.crimson {
      background-color: #B04555;
    }
  }
}

h1#main, h2#main, h3#main, h4#main, h5#main, h6#main {
  color: white;
  margin-bottom: 20px;
  line-height: 1.8;
}

.carousel {
  margin-bottom: 20px;
}

#main-panel {
  ul {
    padding-left: 0px;
    li {
        line-height: 1.8;
        font-size: 12px;
        padding: 10px 0;
        color: white;
        list-style: none;
        background-image: url(../images/listimage.png);
        background-repeat: no-repeat;
        padding-left: 25px;
        background-position: left center;
    }
  }
}

#welcome-panel {
  font-size: 10px;
  ul {
    margin: -10px 0 20px 20px;
    li {
      list-style-type: circle;
      text-align: left;
    }
  }
}

article.latest-project {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #CCC;

  &:first-child {
    margin-top: 0px;
    padding-top: 0px;
  }

  &:last-child {
    border-bottom: 0px;
  }

  .project-location {
    background-image: url(../images/listimage.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: left center;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .project-category {
    color: #F64300;
    text-transform: uppercase;
  }

  .project-link {
    font-size: 10px;
    background-image: url(../images/listminiimage.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: left center;
  }
}

.slick-list {
  padding: 20px;
}

.project-item {

  width: 80px;
  height: 50px;
  background-size: contain;
  outline: none;

  &:hover {
    div {
      opacity: 1;
    }
  }
  &.active-project {
    div {
      opacity: 1;
      box-shadow: 0px 0px 20px rgba(255,229,153, 1);
    }
  }
  div {
    opacity: .6;
    display: inline-block;
    width: 80px;
  height: 50px;
    background-size: cover;
    background-position: center center;
  }
}

.project-description {
  color: white;
  p {
    margin: 20px 0;
  }
}

.partner {
  color: white;
  height: 150px;
  margin-bottom: 20px;
  img {
    background-color: white;
    display: block;
  }
  items {
    item {
      font-size: 10px;
      display: block;
    }
  }
  a {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #F7AA1E;
    border-radius: 10px 10px 0 0;
    color: black;
    padding: 5px 20px 5px 10px;
    font-size: 10px;
    background-image: url(../images/partnersviewmore.png);
    background-position: right;
    background-repeat: no-repeat;
  }
  .partner-description {
    position: relative;
    border-bottom: 1px solid #F7AA1E;
    height: 150px;
  }
}

.clearfix {
  clear: both;
}

.image-thumb {
  cursor: pointer;
  opacity: .5;
  &.active {
    opacity: 1;
  }
}

.slider-wrap {position: relative; height: 107px; width: 100%; background-color: #CCC;}
.slider {
    position: relative;
    width: 90%;
    margin: auto;
}
ul {
    margin: 0;
    padding:0;
}
ul li {
    list-style: none;
    text-align: center;
}
ul li span {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    background: black;
}

.slider-arrow {
    position: absolute;
    top: 40px;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.sa-left {left: 10px;}
.sa-right {right: 10px;}
.control {
  margin: 0px !important;
}

.bx-wrapper {
  box-shadow: none;
    border: 0px solid #fff;
    background: transparent;
    .bx-prev {
      margin-left: -50px;
    }
    .bx-next {
      margin-right: -50px;
    }
}
.partners {
  cursor: pointer;
  opacity: 1;
  &.active {
    opacity: 1;
  }
}

a.productsType {
  display: inline-block;
  margin-right: 20px;
  opacity: .5;
  color: white;
  padding: 10px 10px 10px 0;
  font-size: 14px;
  cursor: pointer;
  &.active {
    font-weight: bold;
    opacity: 1;
  }
}

.image-thumb {
  display: inline-block;
  margin: 0 10px 10px 0;
  img {

  }
}