<div class="row">
  <div class="col-md-12">
    <h4 id="main">About Us</h4>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <h6 id="main">
      <p>Linksports, Inc. is a company registered under Securities and Exchange Commission in February 17, 2009,  a corporation managed by it President Jojo Eugenio.  His seventeen years of invaluable experience and leadership in various significant projects cultivated the company’s capability and growth as one of the leading company in the industry of sporting equipment and facilities.</p>

      <p>In the last Seven years, Linksports, Inc. has grown in leaps and bound, as a provider of world class indoor and outdoor sporting equipments and facilities.  The company’s  main thrust is to provide the safest and most reliable high quality products to meet our client’s requirements and exceed their expectations thru our post-services commitment.  Our team of skilled engineers and technicians are trained and equipped with technical know-how to ensure that all installations and projects are of high quality, compliant with safety and environmental requirements.  Jojo Eugenio, our President, personally oversees and manages our projects to make sure that we deliver high standard of product to our customer.</p>

      <p>The expeditious growth in the four years can be attributed to the world class projects we delivered to our notable client-base within and outside the Philippines.  These projects were delivered to various sectors such as local and international schools, banking institutions, prominent country clubs, recognized real estate developers and city governments, municipalities and agencies.</p>

      <p>Linksports Inc. has been a partner in building various basketball court, oval and gymnasium of our top customers by installing world class flooring and sports equipments for use of students, employees and external parties.  Installing top of the line HERCULAN Sports Surface, ACTION Maple Flooring and ACEFLOR PVC flooring systems, AVANT seating/bleacher system, PORTER basketball goal and athletic systems, COLORADO swimming time system, PLAYWORLD playground equipment and energy efficient scoreboards from FAIRPLAY, USA.</p>

      <p><em>Our team of local experts are ready to assist you.</em></p>
    </h6>
  </div>
</div>