<div class="row">
  <div class="col-md-12">
    <h4 id="main">Visit Our Offices</h4>
  </div>
</div>

<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-12">
    <h5 id="main">105 New Society St. Rosario IV De Castro, Ortigas Ave. Ext</h5>
  </div>
  <div class="col-md-3">
    <i class="glyphicon glyphicon-earphone"></i> +63 2 5007559
  </div>
  <div class="col-md-5">
    <i class="glyphicon glyphicon-modal-window"></i> +63 9175207606, +63 9189455491, +63 9423662235
  </div>
  <div class="clearfix"></div>
  <div class="col-md-3">
    <i class="glyphicon glyphicon-print"></i> +63 2 7486641
  </div>
  <div class="col-md-5">
    <i class="glyphicon glyphicon-envelope"></i> jojo@linksportsinc.com
  </div>
</div>

<div class="row">
  <form>
    <div class="col-md-8">
      <h6 id="main">To send us a detailed message, please use the form below. Please provide us with as much information as you can, so we can respond quickly and appropriately.</h6>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name (Required)</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="contactnumber">Contact Number (Required)</label>
        <input type="text" class="form-control" id="contactnumber" placeholder="Enter Contact Number">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="companyname">Company Name (Required)</label>
        <input type="text" class="form-control" id="companyname" placeholder="Enter Company Name">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Email Address (Required)</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email Address">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="address">Address (Required)</label>
        <input type="text" class="form-control" id="address" placeholder="Enter Address">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="interest">Interested In (Required)</label>
        <input type="text" class="form-control" id="interest" placeholder="Interest In">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="additional">Additional Inquiries (Required)</label>
        <textarea rows="5" class="form-control" id="additional">Additional Inquiries</textarea>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-8">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
  
</div>