<div class="row">
  <div class="col-md-12">
    <h4 id="main">Linksports Installation Gallery</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="center">
      <div class="project-item" ng-repeat="project in projects" ng-click="setActiveProject(project.id)" repeat-finish-directive ng-class="project.id == activeProjectId ? 'active-project' : ''" project-id="{{project.id}}" >
        <div style="background-image: url('images/projects/small/{{project.title}}');"></div>
      </div>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1 project-description">
    <div class="row">
      <div class="col-md-4">
        <h4>{{activeProject.description}}</h4>
        </p>
      </div>
      <div class="col-md-8">
        <img width="100%" src="images/projects/large/{{activeProject.title}}" />
      </div>
    </div>
  </div>
</div>