<div class="row">
  <div class="col-md-8">
    <h1 id="main">Welcome to LinkSports, Inc.</h1>

    <div>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
          <li data-target="#carousel-example-generic" data-slide-to="7"></li>
          <li data-target="#carousel-example-generic" data-slide-to="8"></li>
          <li data-target="#carousel-example-generic" data-slide-to="9"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="images/slide-1.png" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-2.png" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-3.png" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-4.jpg" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-5.jpg" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-6.jpg" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-7.jpg" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-8.jpg" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-9.jpg" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
          <div class="item">
            <img src="images/slide-10.jpg" alt="...">
            <div class="carousel-caption">
              <h3>Linksports Inc.</h3>
              <p>We are the leading distributor of world class sports facilities and playground equipment.</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="" role="button" data-slide="prev" ng-click="prev()">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="" role="button" data-slide="next" ng-click="next()">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div id="main-panel" class="panel transparent">
      <h2 class="panel-header blue">Our Products And Services Includes:</h2>
      <div class="panel-content">
        <ul>
          <li>Maple Hardwood, PVC Multi-sports and Synthetic rubberized flooring systems for all types of sports, including multi-function sports floors, track oval systems, and gym floor covers.</li>
          <li>Comfortable and durable Telescopic Seating for school and university gymnasiums, auditoriums, lecture halls, arenas, sports centers, convention centers, performing arts centers and community centers.</li>
          <li>Unmatched durability Playground equipment, caters both outdoor and indoor, ages 3-12years old</li>
          <li>Indoor and outdoor electronic scoreboards.</li>
          <li>Swimming/Aquatic products and accessories.</li>
          <li>Indoor and outdoor sports equipment systems for (but not limited to) basketball, volleyball, football, soccer, badminton and tennis</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div id="welcome-panel" class="panel">
      <h2 class="panel-header yellow">Welcome</h2>
      <div class="panel-content">
        <p>Our business commitment to our client does not end at the conclusion of the project as we encompass continuous relationship by ensuring post contract services.  This post services has become our edge amongst our competitors as it reinvigorates the relationship with our customers.

 

        <p><b>TOP SUPPLIERS:</b></p>

         

        <p><b>ACTION Floor Systems LLC</b> – leading provider of premium wood and synthetic eco friendly floor systems for sports facilities, home and business. </p>

         

        <p><b>HERCULAN Synthetic Sports Floors</b> -  It is a manufacturer of synthetic long lasting certified sports surfaces, decorative and protective  floorings since many decades. Herculan surfaces are durable, seamless, nonporous, hygenic, and easy to clean.</p>

         

        <p><b>PORTER Basketball Equipments</b> – World leader in quality sports equipment and supplier of athletic and recreational equipment t and recognized by reputable coaches, school administrators and architects throughout the world as being the leader in the industry</p>

         

        <p><b>FAIRPLAY by Translux</b> – leading provider of TL scoreboards and TL Vision LED video display systems which feature the latest in LED technology to deliver bright images in any lighting conditions with wide viewing angles.</p>

         

        <p><b>ACEFLOR</b> -  Industry leader in Vinyl flooring solutions.</p>

                                                                                                                             

        <p><b>COLORADO TIMING DEVICE SYSTEM</b></p>

        <ul><li>Touch Pads for Olympic Size Swimming Pools.</li>

        <li>Timing Device System (Scoreboard, Start System, Printer, etc)</li></ul>

         

        <p><b>HUSSEY SEATING</b></p>

        <ul><li>Folding and Telescopic Bleachers</li>

        <li>Global Design Structures of Seating Arrangements</li></ul>

         

        <p><b>PLAYWORLDS SYSTEMS</b> – Playground Equipment</p>

             <ul><li>Outdoor and Indoor Playground Equipment for kids and Adults.</li>

             <li>Climber boulder</li>

             <li>Wood ramps</li>

             <li>Life trail for Senior Citizen</li>

             <li>Rock Blocks</li></ul>

         

        <p>As we set sights on company’s growth and advancement, we uphold the strength of our existing relationship with our suppliers and existing clients.  Linksports Inc. endeavors to be the best provider of indoor and outdoor sporting equipment in the industry.</p>

        <p>Further, our network of supply chain, including but not limited to below listing, guarantees the quality of materials in the company’s thrust to provide excellence in our projects.  We have built strong relationship to our suppliers to ensure timeliness of the delivery of high quality materials.</p>
      </div>
    </div>

    <div class="panel">
      <h2 class="panel-header red">Latest Project</h2>
      <div class="panel-content">
        <article class="latest-project">
          <img src="images/article1mini.png" class="pull-right" />
          <a class="project-location">BINALONAN PANGASINAN</a>
          <h6 class="project-category"></h6>
          <img src="images/article1partner.png" class="" /><br>
          <a href="#/gallery/17" class="project-link">View Installation Process</a>
          <div class="clearfix"></div>
        </article>

        <article class="latest-project">
          <img src="images/article2mini.png" class="pull-right" />
          <a class="project-location">MAMASITA</a>
          <h6 class="project-category">Score Board</h6>
          <img src="images/article2partner.png" class="" /><br>
          <a href="#/gallery/24" class="project-link">View Installation Process</a>
          <div class="clearfix"></div>
        </article>
      </div>
    </div>

  </div>
</div>
