<!-- <div class="row">
  <div class="col-md-12">
    <h5 id="main">Linksports, Inc., an exclusive distributor of the highest quality products, caters to both indoor and outdoor sporting activity requirements. Throughout the years, we have remained dedicated to providing the safest and most reliable products for all venues.</h5>
  </div>
</div> -->

<div id="main-panel" class="panel transparent">
  <!-- <h2 class="panel-header crimson">Our Distributors</h2> -->
  <div class="panel-content container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <img ng-src="{{partners[selectedpartner].logo}}" width="50%" /><br>
        <div>
        <a ng-repeat="productType in partners[selectedpartner].productTypes track by $index" class="productsType" ng-class="$index == selectedproducttype ? ' active' : ''" ng-click="changeSelectedPartnerSelectedProductType($index)">{{productType.productType}}</a>
      </div>
        <p ng-bind-html="partners[selectedpartner].productTypes[selectedproducttype].productDescription"></p>
        <div>
        <a ng-repeat="img in partners[selectedpartner].productTypes[selectedproducttype].photos track by $index" class="image-thumb" ng-click="changeSelectedImageIndex($index)" ng-class="$index == selectedimageindex ? 'active' : ''">
          <img src="images/ripple.gif" ng-src="{{img.path_thumb}}" width="100">
        </a>
        <br>
      </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div ng-if="partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].path">
        <div ng-if="partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].type == 'image'">
          <a class="image-link" href="{{partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].path}}" title="{{partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].title}}"><img prevent-right-click src="images/ripple.gif" ng-src="{{partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].path}}" width="100%"/></a>
          <br>
          {{partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].title}}
        </div>
        <div ng-if="partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].type == 'video'">
          <video width="100%" height="320" controls>
            <source ng-src="{{partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].path}}" type="video/mp4">
            </video>
            <br>
          {{partners[selectedpartner].productTypes[selectedproducttype].photos[selectedimageindex].title}}
        </div>
        <br>
      </div>
      
      </div>
    </div>
    </div>
  </div>
<div class="panel full-panel">
  <h2 class="panel-header blue big" style="padding-bottom:5px;padding-top:5px; padding-left: 20px;"><span style="display: inline-block; text-indent: 10px;">Our</span><br>Partners</h2>
  <div class=" nopad">

  <div class="slider-wrap" >
<div class="slider" ng-if="partners.length > 0">

    <ul class="bxslider">
        <li class="partners" ng-repeat="partner in partners track by $index" ng-click="changeSelectedPartnerIndex($index)" ng-class="$index == selectedpartner ? 'active' : ''" repeat-finish-directive>
            <img src="{{partner.logo}}"/ width="100%">
        </li>
    </ul>
</div>
</div>


  </div>
  <!-- <div class="panel-content container">
    <div class="col-md-6 partner">

      <div class="row">
      <div class="col-md-6 col-xs-8">
        <img src="{{selectedpartner.logo}}" width="100%" />
      </div>
      <div class="col-md-12 col-xs-12">
        <p ng-bind-html="selectedpartner.description"></p>
      </div>
      <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div> -->
</div>