<div class="row">
  <div class="col-md-12">
    <h5 id="main">Linksports, Inc., an exclusive distributor of the highest quality products, caters to both indoor and outdoor sporting activity requirements. Throughout the years, we have remained dedicated to providing the safest and most reliable products for all venues.</h5>
  </div>
</div>

<div id="main-panel" class="panel transparent">
  <h2 class="panel-header crimson">Our Distributors</h2>
  <div class="panel-content">
    <div class="col-md-6 partner" ng-repeat="partner in partners" >
      <div class="col-md-3 col-xs-3">
        <img src="images/partners/small/{{partner.id}}.png" width="100%" />
      </div>
      <div class="col-md-9 col-xs-9">
        <div class="partner-description">
          <h5>{{partner.name}}</h5>
          <items>
            <item ng-repeat="product in partner.products" >{{product}}</item>
          </items>
          <div class="clearfix"></div>
          <a class="pull-right" href="">View Gallery</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>